{{yield}}


<ul>
  <!-- Iterates over the testArray and sets each item equal to "test" -->
  {{#each testArray as |test|}}
    <li>{{test.description}}</li>
  {{/each}}
</ul>

<button class="startButton"{{action 'startTests'}}>Start Tests</button>
